

/*--------------------------------------ОБОЛОЧКА-УТИЛИТА-----------------------------------------------------------*/



/*------------------------------------------------------Header-------------------------------------*/





/*-----Main------*/



/*----------ICON---------*/


/*---------------------ICON-TEAM--------------------------*/


.portfolio-nav-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.portfolio-nav-list-item:not(:last-child){
    margin-right: 8px;
}

.main-portfolio-list{
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
 
}
.main-portfolio-list-item{
    margin-bottom: 30px;

}
.main-portfolio-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.main-portfolio-list-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.main-portfolio-list-link{
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-portfolio-list-link:hover,
.main-portfolio-list-link:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
}

.main-portfolio-list-link:hover .main-portfolio-overlay,
.main-portfolio-list-link:focus .main-portfolio-overlay{
    transform: translateY(0%);
}

.main-portfolio-overlay-container{
    position: relative;
    overflow: hidden;

}
.main-portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    padding: 63px 24px;
    
}

.portfolio-description-section{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid var(--border-line-color);
    border-bottom: 1px solid var(--border-line-color);
    border-left: 1px solid var(--border-line-color);
}
.main-properties-list{
    display: flex;
   
}

.main-properties-list-item:not(:last-child){
    margin-right: 30px;
}

.main-title-business{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}


/*--------------------------MODAL-OPEN--------------------------------*/



/*-------------------/MODAL-WINDOW-----------------------*/
/*-----------------------------------FORM-MODAL--------------------------------------------------*/


/*----------------------------------/FORM-MODAL----------------------------------------------------*/

.business-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}




.business-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}

.our-job-section{
    padding-top: 0;
}

.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.example-images{
    display: flex;
    justify-content: center;
    
}

.example-img-item:not(:last-child){
    margin-right: 30px;
    
}

.example-img-item{
    position: relative;
}

.example-text{
    position: absolute;
    left:0;
    top: 100%;
    transform: translateY(-100%);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    background-color: rgba(47, 48, 58, 0.8);

    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team-section{
    background-color: #F5F4FA;
    
}

.studio-team-list-item{
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-list{
    display: flex;
    justify-content: center;
}

.studio-team-list-item:not(:last-child){
    margin-right: 30px;

}

.team-description-section{
    padding: 30px 0;
}

.team-person-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-person-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    margin-bottom: 16px;

}


.portfolio-main-button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main-button:hover,
.portfolio-main-button:focus{
    background-color: var(--focus-color);
    color: #fff;
    box-shadow: 0px 4px 4px #00000025;
    
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}


/*-----------------OUR-CLIENTS---------------------*/


.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.clients-list-example {
    display: flex;
    justify-content: center;

}

.clients-list-item{
    width: 170px;
    height: 92px;
    
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}
.clients-list-link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-border-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-border-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
    color: var(--focus-color);
    border-color: var(--focus-color);
    
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}


/*-----Footer------*/

/*------------------PROPOSAL-----------------*/

.join-section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}
.footer-adress{
    margin-right: 70px;
}


.join-media-footer {
    display: flex;
}



.media-footer-list:not(:last-child) {
        margin-right: 10px;
}


.media-footer-link {
    display: flex;
    border-radius: 50%;
    background-color: rgb(255, 255, 255,0.1);
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer-link:hover,
.media-footer-link:focus {
    background-color: var(--focus-color);
   
}

.icon-media-footer {
    width: 20px;
    height: 20px;
    fill: #fff;
}



