.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-logo {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;

}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}


.list-item {
    text-decoration: none;
    color: #ffffff99;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--focus-color);
    
        }
}



.map {
    color: #fff;
}

.join-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.footer-adress {
    margin-right: 70px;
}


.join-media-footer {
    display: flex;
}



.media-footer-list:not(:last-child) {
    margin-right: 10px;
}


.media-footer-link {
    display: flex;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
            background-color: var(--focus-color);
    
        }
}



.icon-media-footer {
    width: 20px;
    height: 20px;
    fill: #fff;
}