.header {
    border-bottom: 1px solid var(--border-line-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: flex;
}

.navigation__list-item {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }

}




.navigation__list-item-link {
    display: block;
    padding: 32px 0;
    color: var(--basic-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--focus-color);
    
        }
}



.navigation__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation__contacts-item:not(:last-child) {
    margin-right: 50px;
}

.navigation__contacts-item-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    text-decoration: none;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--focus-color);
    
    
        }
}


.navigation__contact-icon {
    margin-right: 10px;
    fill: var(--contact-color);
    width: 16px;
    height: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .navigation__contacts-item-link:hover &,
    .navigation__contacts-item-link:focus & {
            fill: var(--focus-color);
    
        }


}



.smartphone {
    width: 10px;
    height: 16px;
}

.icon-container {
    background-color: var(--icon-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    width: 70px;
    height: 70px;


}