.our-job-section {
    padding-top: 0;
}

.job-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}