.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--basic-color);
    margin-right: 93px;
}

.logo-web {
    color: var(--focus-color);
}