.business-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}