:root {
    --focus-color: #2196F3;
    --title-color: #212121;
    --contact-color: #757575;
    --model-button: #188CE8;
    --basic-color: #000;
    --border-line-color: #ECECEC;
    --icon-color: #F5F4FA;
    --icon-border-color: #AFB1B8;
}